AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=youraccount;AccountKey=yourkey;EndpointSuffix=core.windows.net
TABLE_CUSTOMERS=Customers
TABLE_PRODUCTS=Products
TABLE_ORDERS=Orders
BLOB_CONTAINER=product-images
QUEUE_ORDERS=orders-queue
QUEUE_INVENTORY=inventory-queue
FILE_SHARE=applogs
FILE_DIRECTORY=logs
LOG_FILE_NAME=grocery-app.log
PORT=3000
